.App-header {
  text-align: center;
  background-color: #576aa7;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-content {
  padding: 20px 0;
}

